.main {
  background: #fff;
  padding: 3rem;
  margin: 5rem auto;
  max-width: 50rem;
  border-radius: 0.4rem;
}

.main h1 {
  font-size: 3.2rem;
  text-align: center;
}

.form {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputField {
  height: 4rem;
  padding: 0 2rem;
  font-size: 2rem;
  border: 1px solid #ccc;
  min-width: 80%;
}

.taskBtn {
  margin-left: 0.8rem;
  border: none;
  height: 4rem;
  width: 4rem;
  background-color: #f04c64;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.taskBtn:hover {
  background-color: #dd3b53;
}

.tasks {
  margin-top: 3rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.tasks li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  transition: all 0.5s;
}

.tasks li:hover {
  background: #cccccc3d;
}

.edit, .delete {
  margin-right: 1.5rem;
  cursor: pointer;
}

.edit {
  color: #51c5de;
}

.edit:hover {
  color: #44a2b7;
  transition: all 0.5s;

}

.delete {
  color: #f04c64;
}

.delete:hover {
  color: #dd3b53;
  transition: all 0.5s;

}
