
.tasks {
  margin-top: 3rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.tasks li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  transition: all 0.5s;
}

.tasks li div {
  display: flex;
  align-items: center;
}

.tasks li:hover {
  background: #cccccc3d;
}

.edit, .delete {
  margin-right: 1.5rem;
  cursor: pointer;
}

.edit {
  color: #51c5de;
}

.edit:hover {
  color: #44a2b7;
  transition: all 0.5s;

}

.delete {
  color: #f04c64;
}

.delete:hover {
  color: #dd3b53;
  transition: all 0.5s;

}
