:root {
  --primary-color: rgb(17, 90, 200);
  --primary-color-dark: rgb(6, 39, 88);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
}

form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  border: 1px solid var(--primary-color);
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-dark);
}

form button:active {
  background: linear-gradient(#00d9ff, #0380f5);
}

.password {
  font-size: 2rem;
  color: var(--primary-color);
  margin: 40px 0;
}

.btn-password {
  font-size: 2rem;
  color: #fff;
  background-color: var(--primary-color-dark);
  padding: 10px;
  margin: 40px 0 5px 0;
  border-radius: 10px;
}

.btn-password:hover {
  cursor: pointer;
  background-color: var(--primary-color);
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}